/* .dropdowncontent{
    display:none !important;
}

.dropdown:hover .dropdowncontent{display:block !important;} */

.pointer {
    cursor: pointer;
}

.profile-postalCode {
    width: 90px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0;
}