.uk_page_404
{
	padding: 300px 0;
	text-align: center;
}
/* .techmarket-sticky-wrap .custom-logo-link img */
/* { */
	/* transition: 0.3s; */
/* } */
.techmarket-sticky-wrap.stuck .custom-logo-link img
{
	height: 39px;
	width: 37px;
}
.primary-navigation, .secondary-navigation
{
	padding-top: 32px;
}
.techmarket-sticky-wrap.stuck .primary-navigation, .techmarket-sticky-wrap.stuck .secondary-navigation
{
	padding-top: 0;
}
.contact-form, .form-group
{
	direction: rtl;
}
#msgboxnote a
{
	color: #6dc4b4;
}
#msgboxnote a:hover, #msgboxnote a:focus
{
	color: #577d76;
}
.handheld-navigation-menu
{
	max-height: 100vh;
}
.cart-collaterals .wc-proceed-to-checkout
{
	border-bottom: 0;
}
.cart_notice
{
	color: #e14546; font-size: 12px;
	display: none;
}
#billing_address_1
{
	min-height: 90px;
}
#checkout_address_add
{
	overflow: hidden;
}
.chechout_address_item
{
	padding: 10px;
	border: 1px solid #ebebeb;
	border-radius: 3px;
	margin-bottom: 10px;
}
.chechout_address_item input
{
	outline: none;
}
.chechout_address_item label, .chechout_address_item p
{
	margin-bottom: 0 !important;
}
.chechout_address_item label
{
	display: flex;
	cursor: pointer;
}
.chechout_address_item p
{
	margin-right: 10px;
}
.checkout_address_delete
{
	float: left;
	font-size: 12px;
	cursor: pointer;
}
.checkout_address_delete .remove
{
	display: inline-block;
	vertical-align: top;
	padding-top: 0;
	margin-top: -2px;
}
.uk_order_title
{
	font-size: 16px !important;
}
.uk_order_title span
{
	color: #6dc4b4;
}

/* .kc_text_block ul li:last-child
{
	background-color: whitesmoke;
	padding: 0 10px;
	border-radius: 5px;
} */

#jumbotoggle
{
	cursor: pointer;
}

h2.product_title
{
	font-size: 1em !important;
	color: #cccccc !important;
	font-weight: 400 !important;
}

.usedkala_product_enlarge
{
	display: none;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	overflow: hidden;
	z-index: 3;
	box-shadow: 0 0 5px gray;
	background-color: white;
}
.usedkala_product_enlarge div
{
	width: 200%;
	background-size: cover;
	background-position: center center;
	position: absolute;
}

.usedkalaslide
{
	position: relative;
	display: block;
	height: 566px;
	overflow: hidden;
	border-top: 10px solid #6dc4b4;
	border-bottom: 10px solid #6dc4b4;
	margin-bottom: 20px;
	width: 80%;
	right: 20%;
}
.usedkalaslide .scrollthis
{
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
}
.usedkalaslide .item
{
	height: 100%;
	float: right;
	background-size: cover;
	background-position: center;
}
.usedkalaslide .content
{
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: rgba(0,47,85,0.7);
	color: white;
	padding: 15px;
	box-sizing: border-box;
	direction: rtl;
	text-shadow: 1px 1px 0 black;
	transform: translateY(0);
	transition: transform 0.3s;
}
.usedkalaslide .content.hide
{
	transform: translateY(100%);
}
.usedkalaslide .content .title
{
	font-size: 24px;
	margin-bottom: 7px;
}
.usedkalaslide .progress
{
	position: absolute;
	top: 0;
	left: 0;
	height: 1px;
	background-color: white;
}

.slide_btns
{
	text-align: center;
	margin-bottom: 30px;
	direction: rtl;
	position: relative;
	width: 80%;
	right: 20%;
}
.slide_btns div
{
	width: 15px;
	height: 15px;
	border-radius: 50%;
	background-color: #00598d;
	display: inline-block;
	vertical-align: top;
	margin: 0 2px;
	cursor: pointer;
	opacity: 0.7;
	transition: 0.15s;
}
.slide_btns div:hover
{
	opacity: 1;
}
.slide_btns div.active
{
	background-color: #ffa672;
	opacity: 1;
}

.products .product img, .product-loop-categories .product-category a img
{
	object-fit: contain;
}